.nav-item{
	color:white;
}
img.card-img-top {
	width:100px;
	height:75px;
	margin: 0 auto;
	margin-top: 10px;
}

.btn-primary {
	display: block;
	max-width: 100px;
	margin: auto;
}
.card {
	margin-top: 25px;
	margin: 0 auto; /* Added */
	float: none; /* Added */
	margin-bottom: 10px; /* Added */
}

.home-about{
	margin-bottom:25px;
	margin-top: 25px;
	background-color: rgb(124, 123, 123);
	color:white;
}

.home-about-right {
	margin-top:10px;
	margin-bottom: 5px;
}

.center-section {
	background-color:whitesmoke;
}